@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    font-family: 'Poppins';
    background-color: #3A2E39;
    color: #fff;
}

.topnavbar {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.login, .add {
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    font-family: 'Poppins';
    font-size: 25px;
    cursor: pointer;
}

.login {
    background-color: rgb(141, 137, 137);
    color: #fff;
}

.addbook {
    width: 100%;
    margin-top: 20px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}

.add {
    background-color: green;
    color: #fff;
}

/* the main area design where all the book will be added */

.container {
    width: 100%;
    padding: 10px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 20px;
}

.book {
    border: 2px solid white;
    height: 450px;
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.book h2 {
    margin: 10px 0px;
}

.book-btn {
    width: 200px;
    padding: 10px 30px;
    font-size: 20px;
    font-family: 'Poppins';
    border-radius: 5px;
    border: none;
    color: #fff;
    margin: 10px auto;
    cursor: pointer;
    z-index: 1;
}

.book-btn-container {
    margin-top: 20px;
}

.read {
    background-color: green;
    z-index: 1;
}

.toggle {
    margin: 0 auto;
    width: 300px;
    height: 140px;
}

.notread {
    background-color: rgb(148, 61, 61);
}

.remove {
    background-color: red;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 300px;
    height: 500px;
    border: 2px solid #fff;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity .5s ease;
    background-color: #3A2E39;
    z-index: -1;
}

.input {
    width: 250px;
    margin: 20px 0px;
    padding: 20px 10px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
}

.submit {
    background-color: green;
}

.show {
    opacity: 1;
    z-index: 3;
}

.opacity {
    opacity: .2;
}

.wrap {
    width: 100%;
    height: 100%;
    transition: opacity 1s ease;
}

.close {
    margin-left: 20px;
    font-size: 25px;
    color: red;
    cursor: pointer;
}

